@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "SoDo Sans SemiBold";
}

.div-nav{
    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100%;
   
}
nav{
    box-shadow:0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    width: 100%;
    height: 6.5rem;

}
.logo img{
    width: 51px;   
    margin-right: 4rem;
}


nav ul  a{
    text-decoration: none;
    font-family: "SoDo Sans SemiBold";
    font-weight:  bolder;
    color: black;
    margin-right: 1rem;
    font-size: 13px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    
}
#nav-bar li{
    display: inline;
}
#nav-bar a:hover{
    color: rgb(49, 185, 108);
}
#nav-bar{
    padding: 0;
    list-style: none;

}
nav .right-nav, nav .right-nav-item a{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
}
.right-nav-item{
    margin: 10px;
}
.right-nav-item a{
    text-decoration: none;
    color: black;
    font-family: 'SoDo Sans SemiBold';
}
.btn-find-shop a span{
    margin-left: 15px;
}
.btn-history a img{
    width: 120px;
}
.btn-entrar{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    transition: all .2s ease;
    
}
.btn-entrar:hover{
    background-color: #ccc;
    transform: scale(0.9);
    
    box-shadow:0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
   
}
.btn-participe a{
    color: #fff;
}
.btn-participe{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 20px;
    padding: 5px 20px;
    transition: all .2s ease;
    
}
.btn-participe:hover{
    background-color: rgb(0, 0, 0,0.87);
    transform: scale(0.9);
    box-shadow:0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
   
}
main{
    display: block;
    max-width: 1440px;
    margin: 1rem  auto;
    
    
}
.carrosel{
    position: relative;
}

.carrosel-button{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: whitesmoke;
    border: transparent;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0.1px  #888888;
    position: relative;
    margin:12% 1rem;
    z-index: 1000;
    transition: all 2ms ease-in;
}
.carrosel-button img{
    width: 0.7rem;
    
}
.back{
    float: left;
}
.go{
    float: right;

    
}
.carrosel-button:hover{
    background-color: #c0c0c0;
    transform: translate(5%, 5%)
}
.carrosel-box{
   
    width: 100%;
    height: 100%;
    position: relative;
}
.carrosel-ul{
    position: relative;
    height: 100%;
    list-style: none;
    transition: transform 200ms;
}
.carrosel-slide{ 
    width:100%;
    position: absolute;
    
}
.carrosel-slide img{
    width: 100%;
    margin: 0 auto ;
    max-width: 1680px;
    min-width: 20%;
}

.carrosel-nav{
  
position: absolute;
  
margin-top: 25%;
  
left: 45%;
  

}
.carrosel-nav-button{
    opacity: 50%;
    background-color: #747474;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    border: transparent;
    cursor: pointer;
    margin: 0 auto;
}
.carrosel-nav> .slide-atual {
    background-color: black;
    opacity: 80%;
}
.invisible{
    opacity: 0;
    display: none;
}
.saude{
    
    background-color: #D4E9E2;
    display: flex;
    flex-direction: column;
    
    position: relative;
    top: 70px;
    padding: 1rem 6rem ;
    box-sizing: border-box;
    width: 100%;
    

    

} 
.saude-p{
   font-family: 'Sodo Sans SemiBold';
   color: #33433d;
   line-height: 2rem;
   margin: 1rem auto 3rem auto;
   text-align: center;
   display: block;
   width: 70%;
   font-size: 1.1rem;
   
}
.button-saude{
    width: 100%;
    
    bottom: 10%;
}
.saude-button{
    font-family: 'Sodo Sans SemiBold';
    font-size: 1.1rem;
    font-weight: bold;
    color: #33433d;
    display: block;
    margin: -3rem auto;
    overflow: hidden;
    background-color: #D4E9E2;
    padding: 10px 20px;
    border: 1px solid #33433d;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.1s ease-in;
}
.saude-button:hover{
    font-size: 1.0rem;
    transform: scale(0.95);
    box-shadow: 0 3px 5px 1px #33433d;
    background-color: #bad3ca;
}
.covid{
    background-color: #D4E9E2;
    display: flex;
    flex-direction:row;
    
    position: relative;
    top: 100px;

    box-sizing: border-box;
    width: 100%;
    
}

.img-covid{
    object-fit: cover;
    width:47.26%;
    
}
.covidiv{
    margin: auto;
}
.covid-p{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 3rem auto;
    text-align: center;
    display: block;
    width: 70%;
    font-size: 1.1rem;
    
 }
 .covid-header{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    display: block;
    width: 70%;
    font-size: 1.4rem;
    
 }
.covid-button{
    font-family: 'Sodo Sans SemiBold';
    font-size: 1.1rem;
    font-weight: bold;
    color: #33433d;
    display: block;
    margin: 3rem auto;
    overflow: hidden;
    background-color: #D4E9E2;
    padding: 10px 20px;
    border: 1px solid #33433d;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.1s ease-in;
}
.covid-button:hover{
    font-size: 1.0rem;
    transform: scale(0.95);
    box-shadow: 0 3px 5px 1px #33433d;
    background-color: #bad3ca;
}
.pausa{
    background-color: #D4E9E2;
    display: flex;
    flex-direction:row;
    
    position: relative;
    top: 130px;

    box-sizing: border-box;
    width: 100%;
}
.img-pausa{
    width:47.26%;
    object-fit: cover;
}
.pausadiv{
    margin: auto;
}
.pausa-p{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 3rem auto;
    text-align:center;
    display: block;
    width: auto;
    font-size: 1.2rem;
    
 }
 .pausa-header{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    display: block;
    width: 70%;
    font-size: 1.4rem;
    
 }
.pausa-button{
    font-family: 'Sodo Sans SemiBold';
    font-size: 1.1rem;
    font-weight: bold;
    color: #33433d;
    display: block;
    margin: 3rem auto;
    overflow: hidden;
    background-color: #D4E9E2;
    padding: 10px 20px;
    border: 1px solid #33433d;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.1s ease-in;
}
.pausa-button:hover{
    font-size: 1.0rem;
    transform: scale(0.95);
    box-shadow: 0 3px 5px 1px #33433d;
    background-color: #bad3ca;
}
.ongs{
    background-color: #D4E9E2;
    display: flex;
    flex-direction:row;
    
    position: relative;
    top: 160px;

    box-sizing: border-box;
    width: 100%;
}
.img-ongs{
    width:47.26%;
    object-fit: cover;
}
.ongsdiv{
    margin: auto;
}
.ongs-p{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 3rem auto;
    text-align:center;
    display: block;
    width: 70%;
    font-size: 1.2rem;
    
 }
 .ongs-header{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    display: block;
    width: 70%;
    font-size: 1.4rem;
    
 }
.ongs-button{
    font-family: 'Sodo Sans SemiBold';
    font-size: 1.1rem;
    font-weight: bold;
    color: #33433d;
    display: block;
    margin: 3rem auto;
    overflow: hidden;
    background-color: #D4E9E2;
    padding: 10px 20px;
    border: 1px solid #33433d;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.1s ease-in;
}
.ongs-button:hover{
    font-size: 1.0rem;
    transform: scale(0.95);
    box-shadow: 0 3px 5px 1px #33433d;
    background-color: #bad3ca;
}
.funcionarios{
    background-color: #D4E9E2;
    display: flex;
    flex-direction:row;
    
    position: relative;
    top: 190px;

    box-sizing: border-box;
    width: 100%;
}
.img-funcionarios{
    width:47.26%;
   
    object-fit: cover;
}
.funcionarios-div{
    margin: auto;
}
.func-p{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 3rem auto;
    text-align:center;
    display: block;
    width: 70%;
    font-size: 1.2rem;
    
 }
 .func-header{
    font-family: 'Sodo Sans SemiBold';
    color: #33433d;
    line-height: 2rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    display: block;
    width: 70%;
    font-size: 1.4rem;
    
 }
.func-button{
    font-family: 'Sodo Sans SemiBold';
    font-size: 1.1rem;
    font-weight: bold;
    color: #33433d;
    display: block;
    margin: 3rem auto;
    overflow: hidden;
    background-color: #D4E9E2;
    padding: 10px 20px;
    border: 1px solid #33433d;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.1s ease-in;
 
}
.func-button:hover{
    font-size: 1.0rem;
    transform: scale(0.95);
    box-shadow: 0 3px 5px 1px #33433d;
    background-color: #bad3ca;
}

footer{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 220px;
    box-shadow: 10px 10px 10px 5px#33433d;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    
   
}
::-webkit-scrollbar-thumb {
    background: #33433d;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}